/* layout-styles.less */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
.theme-explosive-puppy {
  clear: both;
}
.theme-explosive-puppy,
.theme-explosive-puppy * {
  font-family: "Lato";
}
.theme-explosive-puppy [ng-cloak] {
  display: none;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#LayoutView {
  position: absolute;
  top: 50px;
  bottom: 40px;
  left: 0;
  right: 0;
  overflow: hidden;
}
#LayoutView * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#LayoutView .viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: #444444;
  z-index: 0;
  display: flex;
  flex-direction: column;
}
#LayoutView .viewport.noclip {
  overflow: visible;
}
#LayoutView .viewport.layoutview-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}
#LayoutView .layoutview-pageversion {
  position: absolute;
  background-color: #ffffff;
}
#LayoutView .layoutview-toolbar {
  width: 100%;
  padding-right: 20px;
  padding-left: 25px;
  min-height: 62px;
  line-height: 62px;
  background-color: #ffffff;
}
#LayoutView .layoutview-body {
  position: relative;
  flex-grow: 1;
  z-index: 0;
  overflow: hidden;
  outline: none;
}
#LayoutView .pageversion-grip {
  position: absolute;
  background-color: #91c949;
}
#LayoutView .pageversion-grip .grip-center {
  text-align: center;
}
.layout-viewport .btn-group .btn {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: left;
}
.layout-viewport .btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.layout-viewport .button-spacing .layout-btn {
  margin-top: 48px;
  margin-left: 16px;
  margin-bottom: 32px;
}
.layout-viewport .button-spacing .layout-btn:last-of-type {
  margin-right: 48px;
}
.layout-viewport .layout-btn {
  font: 400 0.66666667em 'Lato';
  background: #91C949;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px 28px 10px 28px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  cursor: pointer;
}
.layout-viewport .layout-btn:hover {
  text-decoration: none;
  background: #78AC35;
}
.layout-viewport .layout-btn.layout-btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.layout-viewport .layout-btn.layout-btn-cancel {
  background: #B1B1AE;
}
.layout-viewport .layout-btn.layout-btn-cancel:hover {
  background: #BE8E8A;
}
.layout-viewport .layout-btn.layout-search-button {
  top: -36px;
  right: -217px;
}
.layout-viewport .layout-input-header-top {
  font: 300 0.66666667em 'Lato';
  font-size: 14px;
  color: #3E3F36;
  padding-bottom: 5px;
  display: block;
}
.layout-viewport .layout-input-header-top input,
.layout-viewport .layout-input-header-top label {
  display: block;
}
.layout-viewport .layout-input-header-top.columns {
  position: absolute;
  top: 0;
  left: 190px;
}
.layout-viewport .layout-input-header-side {
  font: 300 0.66666667em 'Lato';
  font-size: 14px;
  color: #3E3F36;
  padding-right: 5px;
}
.layout-viewport .layout-input input[type="text"] {
  font: 300 0.66666667em 'Lato';
  font-size: 14px;
  line-height: 18px;
  color: #bbbbbb;
  background-color: #ffffff;
  border-color: #ffffff;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 14px;
  transition: box-shadow 0.3s, border 0.3s;
}
.layout-viewport .layout-input input[type="text"].search-query {
  padding: 5px 14px;
  width: 150px;
  margin-left: 5px;
}
.layout-viewport .layout-input input[type="text"].search-query:hover {
  background: #EBEBEB;
  text-decoration: none;
}
.layout-viewport .layout-input input[type="text"].search-query:focus,
.layout-viewport .layout-input input[type="text"].search-query .focus {
  border: solid 1px #48AEAF;
  box-shadow: 0 0 5px 1px #48AEAF;
}
.layout-viewport .layout-input input[type="text"].search-query:disabled {
  color: #9B9B9B;
}
.layout-viewport .layout-input input[type="text"]:focus,
.layout-viewport .layout-input input[type="text"].focus {
  border: solid 1px #48AEAF;
  box-shadow: 0 0 5px 1px #48AEAF;
}
.layout-viewport .layout-input input[type="text"]:disabled,
.layout-viewport .layout-view-input input[type="text"].disabled {
  background-color: #F6F7F7;
}
.layout-viewport .layout-input input[readonly] {
  font: 400 0.66666667em 'Lato';
  color: #3E3F36;
}
.layout-viewport .layout-input input[type="checkbox"] {
  height: 14px;
  width: 14px;
  border-radius: 2px;
}
.layout-viewport .layout-input input[type="checkbox"] label {
  font: 400 0.66666667em 'Lato';
  font-size: 14px;
  color: #3E3F36;
}
.layout-viewport .layout-input input[type="radio"] {
  -webkit-appearance: checkbox;
  height: 14px;
  width: 14px;
  border-radius: 2px;
}
.layout-viewport .layout-input input[type="radio"] label {
  font: 400 0.66666667em 'Lato';
  font-size: 14px;
  color: #3E3F36;
}
.layout-viewport .checkbox-radio label input {
  display: none;
  /* <-- hide the default checkbox */
}
.layout-viewport .checkbox-radio label span {
  /* <-- style the artificial checkbox */
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
}
.layout-viewport .checkbox-radio [type=radio]:checked + span {
  /* <-- style its checked state */
  background: black;
}
.layout-viewport .layoutview-attributes {
  background-color: #FFFFFF;
  text-align: left;
}
.layout-viewport .layoutview-attributes .label {
  font: 300 0.66666667em 'Lato';
  font-size: 14px;
  text-transform: uppercase;
  color: #9B9B9B;
}
.layout-viewport .layoutview-attributes .value {
  font: 400 0.66666667em 'Lato';
  font-size: 14px;
  color: #3E3F36;
}
.layout-viewport .layoutview-attributes .value.bold {
  font-weight: bold;
}
.layout-viewport .hyperlink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.layout-viewport .hyperlink:hover {
  color: #0000cc;
}
.layout-viewport .clickable {
  cursor: pointer;
}
.toast-bottom-right {
  bottom: 200px;
  right: 200px;
}
