/* layout-styles.less */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
.theme-explosive-puppy {
  clear: both;
}
.theme-explosive-puppy,
.theme-explosive-puppy * {
  font-family: "Lato";
}
.theme-explosive-puppy [ng-cloak] {
  display: none;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#LayoutView {
  position: absolute;
  top: 50px;
  bottom: 40px;
  left: 0;
  right: 0;
  overflow: hidden;
}
#LayoutView * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#LayoutView .viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: #444444;
  z-index: 0;
  display: flex;
  flex-direction: column;
}
#LayoutView .viewport.noclip {
  overflow: visible;
}
#LayoutView .viewport.layoutview-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}
#LayoutView .layoutview-toolbar {
  width: 100%;
  padding-right: 20px;
  padding-left: 25px;
  min-height: 62px;
  line-height: 62px;
  background-color: #ffffff;
}
#LayoutView .layoutview-body {
  position: relative;
  flex-grow: 1;
  z-index: 0;
  overflow: hidden;
  outline: none;
}
.layout-viewport .layout-input-header-top {
  font: 300 0.66666667em 'Lato';
  font-size: 14px;
  color: #3E3F36;
  padding-bottom: 5px;
  display: block;
}
.layout-viewport .layout-input-header-top input,
.layout-viewport .layout-input-header-top label {
  display: block;
}
.layout-viewport .layout-input-header-top.columns {
  position: absolute;
  top: 0;
  left: 190px;
}
.layout-viewport .layout-input-header-side {
  font: 300 0.66666667em 'Lato';
  font-size: 14px;
  color: #3E3F36;
  padding-right: 5px;
}
.layout-viewport .layout-input input[type="text"] {
  font: 300 0.66666667em 'Lato';
  font-size: 14px;
  line-height: 18px;
  color: #bbbbbb;
  background-color: #ffffff;
  border-color: #ffffff;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 14px;
  transition: box-shadow 0.3s, border 0.3s;
}
.layout-viewport .layout-input input[type="text"].search-query {
  padding: 5px 14px;
  width: 150px;
  margin-left: 5px;
}
.layout-viewport .layout-input input[type="text"].search-query:hover {
  background: #EBEBEB;
  text-decoration: none;
}
.layout-viewport .layout-input input[type="text"].search-query:focus,
.layout-viewport .layout-input input[type="text"].search-query .focus {
  border: solid 1px #48AEAF;
  box-shadow: 0 0 5px 1px #48AEAF;
}
.layout-viewport .layout-input input[type="text"].search-query:disabled {
  color: #9B9B9B;
}
.layout-viewport .layout-input input[type="text"]:focus,
.layout-viewport .layout-input input[type="text"].focus {
  border: solid 1px #48AEAF;
  box-shadow: 0 0 5px 1px #48AEAF;
}
.layout-viewport .layout-input input[type="text"]:disabled,
.layout-viewport .layout-view-input input[type="text"].disabled {
  background-color: #F6F7F7;
}
.toast-bottom-right {
  bottom: 200px;
  right: 200px;
}
